.headers{
    gap: 10px;
    background-color: #67a4ec;
    color: white;
    font-size: 13;
    }
    .cell{
      font-weight: 300;  
      font-size: 12;
      min-width: 160px;
    }
    table{
        border-collapse: collapse;
        padding: 20px;
        text-align:center;
        overflow-y:scroll ;
        overflow-x:hidden ;
    }
    tr:nth-child(even){background-color: #f2f2f2;}