.reply-form-container {
    padding: 20px;
    background-color: #ECF0F1;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Formatting options closer to the left */
.buttons-container .formatting-options {
    margin-right: 850px;
}

.format-option, .custom-file-label {
    margin-right: 10px;
}

.format-option {
    padding: 5px 10px;
    border: none;
    background-color: #e7e7e7;
    cursor: pointer;
    border-radius: 4px;
}

.format-option:hover {
    background-color: #d4d4d4;
}

input[type="color"] {
    border: none;
    padding: 5px;
    cursor: pointer;
}

.custom-file-label {
    display: inline-block;
    padding: 15px 30px;
    background-color: #3498DB;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin: 10px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.custom-file-label i {
    margin-right: 5px;
}

.custom-file-label:hover {
    background-color: #0056b3;
}

.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

button[type="submit"] {
    padding: 15px 30px;
    background-color: #3498DB;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 16px;
    font-family: 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Style for the Visibility Checkbox */
.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
