.modal-title {
  color: #22A8E6;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 25px;
}

.modal-sub-title-container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.modal-sub-title {
  color: #1B1B1B;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.modal-sub-title-line {
  background: #DADADA;
  height: 1.5px;
  width: 100%;
}

.fields-container {
  margin: 15px 0;
}

.fields-container-multi-fields {
  display: flex;
  justify-content: space-between;
}

.input-component {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.radio-input-group {
  display: flex;
  gap: 15px;
}

.radio-input {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}

.radio-input input {
  margin: 0;
}

.input-label {
  color: #1B1B1B;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.mat-mdc-form-field {
  width: 100%;
}

.mt-25 {
  margin-top: 25px;
}

.mt-6 {
  margin-top: 6px;
}

input::placeholder {
  color: #DFDFDF !important;
}
.Submit{
 width: 100px;
 height: 40px;
 background-color: white;
 border: 1px solid #22A8E6;
 color: #22A8E6;
 border-radius: 4px;
margin-left: auto;
&:hover{
  filter: brightness(0.75);
}
&:active{
  filter: brightness(0.5);
}
}