replies
<div class="replies">

  <div class="padding">

    <div class="bottom-section">
      <div class="right-content">
        <div class="section1">
          <div class="user-profile">
            <img class="img" src="assets/profile.png"/>
            <div class="user-name">mohammed najeeb</div>
            <div class="job-title">developer</div>
          </div>
          <div class="content">
            <div class="description">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="bottom-section">
      <div class="right-content">
        <div class="section1">
          <div class="user-profile">
            <img class="img" src="assets/profile.png"/>
            <div class="user-name">mohammed najeeb</div>
            <div class="job-title">developer</div>
          </div>
          <div class="content">
            <div class="description">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="bottom-section">
      <div class="right-content">
        <div class="section1">
          <div class="user-profile">
            <img class="img" src="assets/profile.png"/>
            <div class="user-name">mohammed najeeb</div>
            <div class="job-title">developer</div>
          </div>
          <div class="content">
            <div class="description">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="bottom-section">
      <div class="right-content">
        <div class="section1">
          <div class="user-profile">
            <img class="img" src="assets/profile.png"/>
            <div class="user-name">mohammed najeeb</div>
            <div class="job-title">developer</div>
          </div>
          <div class="content">
            <div class="description">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="bottom-section">
      <div class="right-content">
        <div class="section1">
          <div class="user-profile">
            <img class="img" src="assets/profile.png"/>
            <div class="user-name">mohammed najeeb</div>
            <div class="job-title">developer</div>
          </div>
          <div class="content">
            <div class="description">is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
              the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
