.replies {
  background: #f3f3f3;
  padding-top: 1px;

  .padding {
    padding: 0px 8px;

  }

  .bottom-section {
    width: 100%;
    padding-top: 21px;
    background: #ffff;
    margin: 8px 0px;
  }

  .section1 {
    padding: 0px 7px;
  }
}
